body {
    background: linear-gradient(to right, rgb(151, 150, 240), rgb(251, 199, 212));
    font-family: 'Afacad', sans-serif;
}


select {
    display: block;
    width: 100%;
    font-size: 18px;
    padding: 10px;
    border-radius: 4px;
}

h1 {
    color:#a696c8;
    text-align: center;
    font-size: 36px;
}

h2{
    color: #ec729c;
    margin: 0 0 5px;
    font-size: 32px;

}
button {
margin: 0 auto;
display: block;
background-color:#F1C2D6;
border-color: #a696c8;
font-family: 'Afacad', sans-serif;
transition: ease-in-out 200ms;
border-radius: 10px;
}

a {
text-decoration: none;
}

footer {
    max-width: 650px;
    margin: 60px auto;
    text-align: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);

}
.container {
    max-width: 600px;
    margin: 60px auto;
    background-color: #fafafa;
    padding: 30px;
    box-shadow: 10px 10px 18px 3px rgb(103 103 103 / 40%);
    border-radius: 10px;
}
.city {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  padding: 20px 0;

}
.city:last-child {
    border: none;
}
.date {
opacity: 0.7;

}
.time {
color: #ec729c;
font-size: 48px;
font-weight: bold;
}
.time small {
font-size: 24px;
vertical-align: middle;
line-height: 36px;
}
button:hover{
cursor: pointer;
background-color: white;
color: rgba(0, 0, 0, 0.6);
}